<div
  *ngIf="isLoginMinimizedDisplayed"
  class="flex flex-col justify-center items-center text-center w-fit fixed top-2 left-2 p-2 border-2 rounded-2xl border-[#3163b2] bg-white z-10"
  id="minimized-login"
>
  <p class="text-sm font-semibold">Hello {{ userEmail }} !</p>
  <button
    type="button"
    class="w-fit mt-2 bg-[#ffcd08] hover:bg-white hover:shadow-[0px_0px_4px_4px_inset_#ffcd08] font-semibold py-1 px-2 rounded-xl text-bold no-underline italic"
    (click)="disconnect()"
    (keyup.enter)="disconnect()"
    tabindex="0"
  >
    Disconnect
  </button>
</div>
