<div class="flex flex-col items-center justify-center">
  <div
    id="pokemon-list"
    *ngIf="pokemonList && pokemonList.length > 0"
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 px-4 py-20 xl:py-28 gap-8"
    role="list"
  >
    <div
      *ngFor="let pokemon of pokemonList"
      class="w-full flex flex-col items-center p-4 rounded-xl bg-white border-[12px] border-gray-300"
      appBorderCard
      (click)="goToPokemon(pokemon)"
      (keydown.enter)="goToPokemon(pokemon)"
      role="listitem"
    >
      <div class="w-full flex flex-row justify-between items-center mb-2">
        <p class="text-base font-bold">
          {{ pokemon?.name }}
        </p>
        <span class="text-gray-500"># {{ pokemon?.id }} </span>
      </div>
      <img
        src="{{ pokemon?.picture }}"
        alt="url pokemon image"
        class="border border-gray-400 w-[250px] h-[200px] sm:w-[200px] sm:h-[150px] rounded object-contain mb-2"
      />
      <div class="self-start p-2 text-base">
        <span
          *ngFor="let type of pokemon?.types"
          class="mr-1 px-2 py-1 rounded-full text-white"
          [ngStyle]="{ 'background-color': type | pokemonTypeColor }"
          >{{ type }}</span
        >
        <p class="mt-2">
          Created: {{ pokemon?.created | date : "dd/MM/yyyy" }}
        </p>
      </div>
    </div>
  </div>

  <p
    *ngIf="!pokemonList || pokemonList.length === 0"
    class="text-base text-gray-400"
  >
    No pokemon selected
  </p>
</div>
