<div class="w-screen flex flex-col items-center justify-center">
  <!-- Information box -->
  <app-information-box class="mt-24"></app-information-box>

  <!-- Search pokemon -->
  <app-search-pokemon
    class="w-full bg-transparent flex justify-center items-center mb-32 mt-24"
  ></app-search-pokemon>


  <!-- Loader -->
  <div
    *ngIf="!pokemonList || pokemonList.length === 0"
    class="absolute top-0 left-0 w-screen h-screen flex justify-center items-center"
  >
    <app-loader class=""></app-loader>
  </div>

  <!-- Pokemon list -->
  <div
    id="pokemon-list"
    *ngIf="pokemonList && pokemonList.length > 0"
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 px-4 pb-20 xl:pb-28 gap-8"
    role="list"
  >
    <a
      *ngFor="let pokemon of pokemonList"
      class="w-full flex flex-col items-center p-2 rounded-xl bg-white border-[12px] border-gray-300 cursor-pointer"
      appBorderCard
      role="listitem"
      [routerLink]="['/pokemons/{{ pokemon?.name }}']"
    >
      <div class="w-full flex flex-row justify-between items-center">
        <p class="text-base font-bold">
          {{ pokemon?.name }}
        </p>
        <span class="text-gray-500"># {{ pokemon?.id }} </span>
      </div>
      <img
        src="{{ pokemon?.picture }}"
        alt="url pokemon image"
        class="border border-gray-400 w-[250px] h-[200px] sm:w-[200px] sm:h-[150px] rounded object-contain"
      />
      <div class="w-full self-start p-2 text-base">
        <span
          *ngFor="let type of pokemon?.types"
          class="mr-1 px-2 py-1 rounded-full text-[#000] text-sm font-semibold"
          [ngStyle]="{ 'background-color': type | pokemonTypeColor }"
          >{{ type }}</span
        >
        <p class="mt-4 text-[12px] text-gray-500 italic text-end">
          Created: {{ pokemon?.created | date : "dd/MM/yyyy" }}
        </p>
      </div>
    </a>
  </div>
</div>

<!-- Add icon -->
<a
  class="add_icon fixed bottom-8 right-8 rounded-full z-10"
  [routerLink]="['/pokemons/add']"
>
  <img
    src="../../../assets/pokeball_nobg_c.png"
    alt="Add a pokemon"
    class="rounded-full bg-white animate-bounce"
  />
  <p
    class="add_icon_text w-20 absolute -top-16 left-1/2 transform -translate-x-1/2 text-black font-semibold bg-white border rounded-xl text-center text-sm hidden p-1"
  >
    Add a pokemon
  </p>
  <p
    class="absolute -top-8 -right-4 text-black text-center text-5xl font-semibold lg:hidden animate-bounce"
  >
    +
  </p>
</a>
