<main class="flex flex-col items-center py-10">
  <h1 class="text-6xl my-4">Pokemons List</h1>

  <!-- <input
    #inputsearchbyid
    (keyup)="searchById(inputsearchbyid.value)"
    type="number"
    placeholder="Type a pokemon number"
    class="w-1/3 border-2 border-black rounded-lg mt-10 mb-2 p-2"
  />

  <input
    #inputsearchbyname
    (keyup)="searchByName(inputsearchbyname.value)"
    type="text"
    placeholder="Type a pokemon name"
    class="w-1/3 border-2 border-black rounded-lg mt-2 mb-10 p-2"
  /> -->

  <router-outlet></router-outlet>
</main>
