<main class="main">
  <h1>Pokemons List</h1>

  <input
    #inputsearchbyid
    (keyup.enter)="searchById(inputsearchbyid.value)"
    type="number"
    placeholder="Type a pokemon number"
  />

  <input
    #inputsearchbyname
    (keyup)="searchByName(inputsearchbyname.value)"
    type="text"
    placeholder="Type a pokemon name"
  />

<div>
  <ul *ngIf="pokemonSelected" class="pokemon-list">
    @for (pokemon of pokemonSelected; track pokemon) {
    <li class="pokemon-item">
      <img src="{{ pokemon?.picture }}" />
      <p>ID: {{ pokemon?.id }}</p>
      <p>Name: {{ pokemon?.name }}</p>
      <p>HP: {{ pokemon?.hp }}</p>
      <p>CP: {{ pokemon?.cp }}</p>
      <p>Types:{{ pokemon?.types }}</p>
    </li>
    }
  </ul>
</div>

  <p *ngIf="!pokemonSelected">No pokemon selected</p>
</main>

<router-outlet></router-outlet>
