<main class="main">
  <h1 class="center">Pokemons List</h1>

  <input
    #inputsearchbyid
    (keyup.enter)="searchById(inputsearchbyid.value)"
    type="number"
    placeholder="Type a pokemon number"
  />

  <input
    #inputsearchbyname
    (keyup)="searchByName(inputsearchbyname.value)"
    type="text"
    placeholder="Type a pokemon name"
  />

  <div *ngIf="pokemonSelected" class="container">
    <div class="row">
      <div *ngFor="let pokemon of pokemonList" class="col m4 s6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="{{ pokemon?.picture }}" alt="url pokemon image" class="img_pokemon" />
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>ID: {{ pokemon?.id }}</p>
              <p>Name: {{ pokemon?.name }}</p>
              <p>HP: {{ pokemon?.hp }}</p>
              <p>CP: {{ pokemon?.cp }}</p>
              <p>Types:{{ pokemon?.types }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p *ngIf="!pokemonSelected" class="center">No pokemon selected</p>
</main>

<router-outlet></router-outlet>
