<main class="w-full h-full">
  <nav
    class="relative w-full h-[10%] flex flex-col justify-center items-center"
  >
    <a routerLink="/pokemons">
      <h1
        class="relative text-5xl lg:text-6xl xl:text-8xl font-extrabold top-4"
      >
        PokedeX
      </h1>
    </a>
  </nav>
  <span
    class="absolute bottom-0 left-0 w-fit bg-black text-white pt-1 px-2 pb-2 italic underline text-center rounded-se-xl"
  >
    <a
      href="{{ apiUrl }}"
      target="_blank"
      aria-label="link to api documentation"
    >
      API documentation
    </a>
  </span>
  <div class="relative"></div>
  <app-minimized-login></app-minimized-login>
  <router-outlet></router-outlet>
</main>
