@use "../vars.scss";

nav {
  background-color: vars.$red-pokemon;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    position: relative;
    -webkit-text-stroke: 0.3rem vars.$blue-pokemon;
    color: transparent;
    letter-spacing: 1rem;
    font-family: "Pokemon";

    &::after {
      position: absolute;
      top: 0;
      left: 0.1rem;
      content: "PokedeX";
      -webkit-text-stroke: 0.1rem vars.$blue-pokemon;
      color: vars.$yellow-pokemon;
    }
  }
}
