<main class="w-full h-full">
  <a
    class="flex items-center justify-end bg-black text-white p-2 underline"
    href="{{ apiUrl }}"
    target="_blank"
    aria-label="link to api documentation"
  >
    Api documentations</a
  >
  <nav class="flex justify-center items-center">
    <a routerLink="/pokemons">
      <h1
        class="text-5xl lg:text-6xl xl:text-8xl font-extrabold -bottom-3 lg:-bottom-4 xl:-bottom-6"
      >
        PokedeX
      </h1>
    </a>
  </nav>
  <app-minimized-login></app-minimized-login>
  <router-outlet></router-outlet>
</main>
