<div
  *ngIf="pokemonSelected"
  class="w-screen flex flex-col items-center justify-center py-20"
>
  <div class="w-[90%] flex flex-col items-center">
    <h2
      class="self-start text-3xl lg:text-4xl font-bold text-gray-800 mb-10"
    >
      {{ pokemonSelected.name }}
      <span class="text-gray-500">#{{ pokemonSelected.id }}</span>
    </h2>
    <div
      class="w-full sm:w-[700px] flex flex-col sm:flex-row bg-white p-2 mb-10 shadow-[0_0_4px_4px_inset_rgba(0,0,0,0.2)] rounded-xl"
    >
      <img
        [src]="pokemonSelected.picture"
        alt="url pokemon image"
        class="w-[250px] h-[250px] rounded object-cover mx-auto"
      />

      <div class="sm:w-4/6 flex items-center justify-center">
        <table>
          <tbody>
            <tr class="">
              <td class="text-gray-600 pb-2 pr-8">HP</td>
              <td class="text-gray-800 pb-2">
                <strong>{{ pokemonSelected.hp }}</strong>
              </td>
            </tr>
            <tr class="">
              <td class="text-gray-600 pb-2 pr-8">Damage</td>
              <td class="text-gray-800 pb-2">
                <strong>{{ pokemonSelected.cp }}</strong>
              </td>
            </tr>
            <tr class="">
              <td class="text-gray-600 pb-2 pr-8">Types</td>
              <td class="pb-2">
                <span
                  *ngFor="let type of pokemonSelected.types"
                  class="mr-1 px-2 py-1 rounded-full text-white"
                  [ngStyle]="{ 'background-color': type | pokemonTypeColor }"
                  >{{ type }}
                </span>
              </td>
            </tr>
            <tr class="">
              <td class="text-gray-600 pb-2 pr-8">Created at</td>
              <td class="pb-2">
                <em>{{ pokemonSelected.created | date : "dd/MM/yyyy" }}</em>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="flex">
      <button class="mr-4" (click)="goBack()" (keyup.enter)="goBack()">Retour</button>
      <button class="mr-4">Éditer</button>
      <button>Supprimer</button>
    </div>
  </div>
</div>
<h4 *ngIf="!pokemonSelected" class="text-center top-1/2 text-2xl lg:text-4xl mt-32">
  <!-- <app-loader></app-loader> -->
  aucun pokemon sélectionné
</h4>
