/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Pokemon";
  src: url("./assets/Pokemon_Solid.ttf");
}

body {
  background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
  background-position: center;
  background-size: cover;
}
