/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Pokemon";
  src: url("./assets/Pokemon_Solid.ttf");
}

@font-face {
  font-family: "Flexo-MediumIt";
  src: url("https://db.onlinewebfonts.com/t/0bf8c2f5042b73913f04bca0ef56d686.eot");
  src: url("https://db.onlinewebfonts.com/t/0bf8c2f5042b73913f04bca0ef56d686.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/0bf8c2f5042b73913f04bca0ef56d686.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/0bf8c2f5042b73913f04bca0ef56d686.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/0bf8c2f5042b73913f04bca0ef56d686.ttf")
      format("truetype"),
    url("./assets/Flexo-MediumIt.woff2") format("woff2");
}

body {
  background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #ffcd08;
  }

  h2 {
    font-family: "Flexo-MediumIt";
  }
}
